
.event-container {
    margin-bottom: 15px;
    /* border-bottom: 0.1px solid green; */
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.event-date {
    width: 100px;
    line-height: 90px;
    text-align: center;
}
.date-middle {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.event-body {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
}

.event-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 21pt;
}
.event-location {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12pt;
}
.event-time {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}


/* Modifiers */

.event-finished {
    color: transparent;
    text-shadow: 0 0 1px gray;
}

.event-upcoming {
    color: green;
}

.clickable {
    text-decoration:none;
    color: black;
    font-style: bold;
    cursor: pointer;
}
.clickable:hover {
    color: rgba(0, 0, 0, 0.671);
}