.navbar-container {
    width: 100%;
    border-bottom: 2px solid rgb(76, 150, 137);
}

.navbar {
    background-color:  rgba(221, 221, 221, 0.555);
    height: 100%;
    width: 100%;
    font-family: Courier New, Courier, monospace;
    font-size: 16.8pt;
}

.navbar-item {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.navbar-link {
    text-decoration:none;
    color: black;
}
.navbar-link:hover {
    cursor: pointer;
    color: rgb(100, 187, 132);
}