@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.events-page-body {
    height: 100% !important;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.events-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 21pt;
}

.events-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
}