@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.home-container {
    background-color: white;
    height: 100vh;
}

.centered {
    min-width: 710px;
    text-align: center;
}

.home-link {
    padding-right: 15px;
    color: green;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
}